<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
    href="https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:wght@300&family=Poppins&display=swap"
    rel="stylesheet">
    <link rel="shortcut icon" href="/images/icon-logo.png" type="image/x-icon">
    <script src="contact.js"></script>
    <script src="contact2.js"></script>
</head>
<body>
    <div class="main">
        <div class="uppercontainer">
        <div class="nav-bar">
            <div class="nav-logo">
                <div class="logo">

                </div>

            </div>
            <div class="nav-list">
                <div class="nav-home">
                    <a href="index.html" class="sign-connection"><p class="home">Home</p></a>
                </div>
                <div class="nav-home">
                    <p class="home">About</p>
                </div>
                <div class="nav-home">
                    <a href = "department.html" class="sign-connection"><p class="home">Department</p></a>
                </div>
                <div class="nav-home">
                    <a href = "doctors-page.html" class="sign-connection"><p class="home">Doctors</p></a>
                </div>
               
                <div class="nav-home">
                    <p class="home">Contact</p>
                </div>
                <div class="nav-home">
                    <a href = "signup.html" class="sign-connection"><p class="home">Log in/Sign up</p></a>
                </div>
            </div>


        </div>
    
        <div class="CONTACT">CONTACT US</div>
    </div>
    <div class="midcontainer">
        <div class="leftcontainer">
            <div class="portionONE">
                <i class="fa-solid fa-location-dot"></i>
                <h4 class="heading1">LOCATION</h4>
                <p class="paraONE">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nemo tempore fugiat enim neque recusandae laudantium deserunt nobis expedita, sed unde quia quos tenetur blanditiis molestiae necessitatibus consectet</p>
            </div>
            <div class="portionTWO">
                <i class="fa-solid fa-clock"></i>
                <h4 class="heading2">OPENING HOURS</h4>
                <p class="paraTWO"><H5 class="weekday">WEEKDAYS: 8:00 - 20:00</H5> </p>
                <p class="paraTWO"><H5 class="weekday">SATURDAY: 8:30 - 17:00</H5> </p>
                <p class="paraTWO"><H5 class="weekday">SUNDAYS: 8:30 - 20:00</H5> </p>
            </div>
            <div class="portionTHREE">
                <i class="fa-solid fa-phone"></i>
                <h4 class="heading2">CONTACT</h4>
                <p class="paraTWO"><H5 class="weekday">Address:123 SRMS MultiMed , Bareilly , India</H5></p>
                <p class="paraTWO"><H5 class="weekday">Phone: +91-7643874948</H5></p>
                <p class="paraTWO"><H5 class="weekday">E-mail:multimed@gmail.com</H5></p>
                
            </div>
        </div>
        <div class="rightcontainer">
           <div> <label class= "labelONE"for="username">Enter your name(required)</label>
        <input class="username"type="text" placeholder="" id="username" /></div>

        <div> <label class= "labelTWO"for="username">Your Email(required)</label>
            <input class="usernameTWO"type="text" placeholder="" id="username" /></div>

            
                <button class="button">SEND MESSAGE</button>
            
        </div>

        <div>
            <label class="labelTHREE" for="text">Enter yor valuable feedback</label>
            <textarea
            class="feedback"
              id="text"
              placeholder=""
              name="feedback"
            ></textarea>
          </div>
    </div>

    <iframe class="map"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112333.78506324618!2d79.33953816567347!3d28.376054022659837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a007334d02998d%3A0x5b9d44cf31ee87f!2sBareilly%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1703063068290!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>   
 </div>
    
</body>
</html>