<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEPARTMENTS</title>
    <link rel="stylesheet" href="/css/departmentStyle.css">
    <link rel="shortcut icon" href="/images/icon-logo.png" type="image/x-icon">
</head>
<body>
    <div class="box1">
       
        <img src="/images/doctor.jpg">
        <div class="main">DEPARTMENTS</div>
    </div>

    <div class="categories">
    <div class="card">
        <div class="image"> 
             <img src="/images/cardio.png">
        </div>  
        <div class="content">
            <h2>
                <img src="/images/cardiogram.png">Cardiology
            </h2>
            
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quis neque dolores dicta est accusamus a doloribus debitis, dignissimos dolor voluptatum architecto asperiores?</p>
        </div>
    </div>   

    <div class="card">
        <div class="image"> 
             <img src="/images/optho.jpeg.jpg" alt="">
        </div>
        <div class="content">
             <h2>
                <img src="/images/eye.png">Opthalmology
            </h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quis neque dolores dicta est accusamus a doloribus debitis, dignissimos dolor voluptatum architecto asperiores?</p>
        </div>
    </div>   
 
    <div class="card">
        <div class="image"> 
             <img src="/images/pulno.jpeg.jpg" alt="">
        </div>
        <div class="content">
             <h2>
                <img src="/images/first-aid-kit.png">Pulmonary
             </h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quis neque dolores dicta est accusamus a doloribus debitis, dignissimos dolor voluptatum architecto asperiores?</p>
        </div>
    </div>  
</div>

<div class="categories">
    <div class="card">
        <div class="image"> 
             <img src="/images/dental.jpeg.jpg" alt="">
        </div>
        <div class="content">
             <h2>
                <img src="/images/dental-care.png">Dental
             </h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quis neque dolores dicta est accusamus a doloribus debitis, dignissimos dolor voluptatum architecto asperiores?</p>
        </div>
    </div>   

    <div class="card">
        <div class="image"> 
             <img src="/images/diagnos.webp" alt="">
        </div>
        <div class="content">
             <h2><img src="/images/stethoscope.jpg">Diagnostics</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quis neque dolores dicta est accusamus a doloribus debitis, dignissimos dolor voluptatum architecto asperiores?</p>
        </div>
    </div>   

     
    <div class="card">
        <div class="image"> 
             <img src="/images/diabled.jpeg.jpg" alt="">
        </div>
        <div class="content">
             <h2><img src="/images/disabled.png">For disabled</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quis neque dolores dicta est accusamus a doloribus debitis, dignissimos dolor voluptatum architecto asperiores?</p>
        </div>
    </div>  
</div>

<div class="categories">
    <div class="card">
        <div class="image"> 
             <img src="/images/traumatology.jpeg.jpg" alt="">
        </div>
        <div class="content">
             <h2><img src="/images/checked.png">Traumatology</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quis neque dolores dicta est accusamus a doloribus debitis, dignissimos dolor voluptatum architecto asperiores?</p>
        </div>
    </div>   

    <div class="card">
        <div class="image"> 
             <img src="/images/lab.jpeg.jpg" alt="">
        </div>
        <div class="content">
             <h2><img src="/images/microscope.png">Laboratory</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quis neque dolores dicta est accusamus a doloribus debitis, dignissimos dolor voluptatum architecto asperiores?</p>
        </div>
    </div>   
  
    <div class="card">
        <div class="image"> 
             <img src="/images/pediatrics.jpeg.jpg" alt="">
        </div>
        <div class="content">
             <h2><img src="/images/pediatrician.png">Pediatrics</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quis neque dolores dicta est accusamus a doloribus debitis, dignissimos dolor voluptatum architecto asperiores?</p>
        </div>
    </div>  
</div>

<footer>
    <div class="footer">
        <div class="footer-info">
            <div class="left">
                <h2 class="dep">About Us</h2>
                <p class="foot-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eligendi minima, veritatis nulla quas recusandae, vero cum nisi ipsam sit voluptas neque obcaecati labore corrupti quaerat, sint facere laborum quisquam.
                Qui, natus? Fugiat esse repellendus in, est corrupti maxime praesentium dolores! Aliquam consectetur, cumque quasi unde ut doloremque voluptates velit magni quod facilis optio aut facere, ea, impedit cum nihil.</p>
            </div>
            <div class="mid">
    
                <h2 class ="dep">Departments</h2>
                <ul>
                    <li>Cardiology</li>
                    <li>Opthamology</li>
                    <li>Pulmonary</li>
                    <li>Dental</li>
                    <li>Diagnostics</li>
                    <li>For Disabled</li>
                    <li>cardiology</li>
                </ul>
            </div>
            <div class="right">
    
                <h2 class = "dep">Contact Info</h2>
                <ul>
                    <li class="li"><h5 class="heading">Emergency Cases</h5>
                        1 123 456 7890
                    </li>
    
                    <li class="li"><h5 class="heading">Address</h5>
                        Address:123 Fifth Avenue,New York,NY 10610l,USA
                    </li>
    
                    <li class="li"><h5 class="heading">Phone</h5>
                        +91 4658949489
                    </li>
    
                    <li class="li"><h5 class="heading">Email</h5>
                        xyz@gmail.com
                    </li>
                </ul>
            </div>
            
        </div>
        <div class = "foot-line"><hr></div>
        <p class="copyright" >MultiMed @2023  ALL Rights Reserved</p>
    </div>
    
    </footer>

</div>
</body>
</html>