<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors-MultiMed</title>
    <link rel="stylesheet" href="/css/doc-style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:wght@300&family=Poppins&display=swap"
        rel="stylesheet">
        <link rel="shortcut icon" href="/images/icon-logo.png" type="image/x-icon">
</head>
<body>
    <div class="main">
        <div class="nav-bar">
            <div class="nav-logo">
                <div class="logo">

                </div>

            </div>
            <div class="nav-list">
                <div class="nav-home">
                    <p class="home">Home</p>
                </div>
                <div class="nav-home">
                    <p class="home">About</p>
                </div>
                <div class="nav-home">
                    <a href = "department.html" class="sign-connection"><p class="home">Department</p></a>
                </div>
                <div class="nav-home">
                    <a href = "doctors-page.html" class="sign-connection"></a><p class="home">Doctors</p></a>
                </div>
            
                <div class="nav-home">
                    <a href = "contact.html" class="sign-connection"></a><p class="home">Contact</p></a>
                </div>
                <div class="nav-home">
                    <a href = "signup.html" class="sign-connection"><p class="home">Log in/Sign up</p></a>
                </div>
            </div>
        </div>
        <div class="doc-heading">
            <p class="doc-top-heading">DOCTORS</p>
        </div>
    </div>

    <!-- cards -->
    <div class="doc-info-cards">
        <div class="doctors-cards">
            <div class="doctor1">
                <div class="doctor1-card">
                    <img class = "doc1-image" src ="/images/doc-1.jpg">
                    <div class="doctor1-info">
                        <p class="doc-name">DR.VICTOR PATEL</p>
                    </div>
                    <div class="doc-text">
                        <p class="doc-speciality">Cardiologist</p>
                    </div>
                    <div class="division">
                        <span class="line5">

                        </span>
                    </div>
                    <div class="doc-contact">
                        <p class="doc-number">+91 982167122</p>
                    </div>
                </div>
            </div>

            <div class="doctor1">
                <div class="doctor1-card">
                    <img class = "doc1-image" src ="/images/doctor-03.png">
                    <div class="doctor1-info">
                        <p class="doc-name">DR.LUCK KELLER</p>
                    </div>
                    <div class="doc-text">
                        <p class="doc-speciality">Opthalmology</p>
                    </div>
                    <div class="division">
                        <span class="line5">

                        </span>
                    </div>
                    <div class="doc-contact">
                        <p class="doc-number">+91 982167122</p>
                    </div>
                </div>
            </div>

            <div class="doctor1">
                <div class="doctor1-card">
                    <img class = "doc1-image" src ="/images/doctor-05.jpg">
                    <div class="doctor1-info">
                        <p class="doc-name">DR.BELLA JAMES</p>
                    </div>
                    <div class="doc-text">
                        <p class="doc-speciality">Pulmonary</p>
                    </div>
                    <div class="division">
                        <span class="line5">

                        </span>
                    </div>
                    <div class="doc-contact">
                        <p class="doc-number">+91 982167122</p>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="doctors-cards">
            <div class="doctor1">
                <div class="doctor1-card">
                    <img class = "doc1-image" src ="/images/doctor-07.jpg">
                    <div class="doctor1-info">
                        <p class="doc-name">DR.VICTOR PATEL</p>
                    </div>
                    <div class="doc-text">
                        <p class="doc-speciality">Cardiologist</p>
                    </div>
                    <div class="division">
                        <span class="line5">

                        </span>
                    </div>
                    <div class="doc-contact">
                        <p class="doc-number">+91 982167122</p>
                    </div>
                </div>
            </div>

            <div class="doctor1">
                <div class="doctor1-card">
                    <img class = "doc1-image" src ="/images/doct-9.avif">
                    <div class="doctor1-info">
                        <p class="doc-name">DR.LUCK KELLER</p>
                    </div>
                    <div class="doc-text">
                        <p class="doc-speciality">Opthalmology</p>
                    </div>
                    <div class="division">
                        <span class="line5">

                        </span>
                    </div>
                    <div class="doc-contact">
                        <p class="doc-number">+91 982167122</p>
                    </div>
                </div>
            </div>

            <div class="doctor1">
                <div class="doctor1-card">
                    <img class = "doc1-image" src ="/images/doct-10.jpg">
                    <div class="doctor1-info">
                        <p class="doc-name">DR.BELLA JAMES</p>
                    </div>
                    <div class="doc-text">
                        <p class="doc-speciality">Pulmonary</p>
                    </div>
                    <div class="division">
                        <span class="line5">

                        </span>
                    </div>
                    <div class="doc-contact">
                        <p class="doc-number">+91 982167122</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- footer -->

    <footer>
        <div class="footer">
            <div class="footer-info">
                <div class="left">
                    <h2 class="dep">About Us</h2>
                    <p class="foot-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eligendi minima, veritatis nulla quas recusandae, vero cum nisi ipsam sit voluptas neque obcaecati labore corrupti quaerat, sint facere laborum quisquam.
                    Qui, natus? Fugiat esse repellendus in, est corrupti maxime praesentium dolores! Aliquam consectetur, cumque quasi unde ut doloremque voluptates velit magni quod facilis optio aut facere, ea, impedit cum nihil.</p>
                </div>
                <div class="mid">
        
                    <h2 class ="dep">Departments</h2>
                    <ul>
                        <li>Cardiology</li>
                        <li>Opthamology</li>
                        <li>Pulmonary</li>
                        <li>Dental</li>
                        <li>Diagnostics</li>
                        <li>For Disabled</li>
                        <li>cardiology</li>
                    </ul>
                </div>
                <div class="right">
        
                    <h2 class = "dep">Contact Info</h2>
                    <ul>
                        <li class="li"><h5 class="heading">Emergency Cases</h5>
                            1 123 456 7890
                        </li>
        
                        <li class="li"><h5 class="heading">Address</h5>
                            Address:123 Fifth Avenue,New York,NY 10610l,USA
                        </li>
        
                        <li class="li"><h5 class="heading">Phone</h5>
                            +91 4658949489
                        </li>
        
                        <li class="li"><h5 class="heading">Email</h5>
                            xyz@gmail.com
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class = "foot-line"><hr></div>
            <p class="copyright" >MultiMed @2023  ALL Rights Reserved</p>
        </div>
        
        </footer>
</body>
</html>