<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MultiMed Healthcare</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:wght@300&family=Poppins&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        type="image/x-icon">
    <link rel="shortcut icon" href="/images/icon-logo.png" type="image/x-icon">

</head>

<body>
    <div class="main">
        <div class="nav-bar">
            <div class="nav-logo">
                <div class="logo">

                </div>

            </div>
            <div class="nav-list">
                <div class="nav-home">
                    <p class="home">Home</p>
                </div>
                <div class="nav-home">
                    <p class="home">About</p>
                </div>
                <div class="nav-home bt-dep">
                    <p class="home ">Department</p></a>
                </div>
                <div class="nav-home bt-doc">
                    <p class="home ">Doctors</p></a>
                </div>
               
                <div class="nav-home bt-cont">
                    <p class="home ">Contact</p></a>
                </div>
                <div class="nav-home bt-log">
                    <p class="home ">Log in/Sign up</p></a>
                </div>
            </div>


        </div>

        <div class="start-text">
            <div class="offer">
                <p>HERE IN "MULTIMED CLINIC" WE OFFER</p>
            </div>
            <div class="world-class">
                <h1>WORLD CLASS MEDICAL
                    TREATMENT</h1>
            </div>
            <div class="divide">

            </div>
            <div class="para">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Reprehenderit quaerat sed doloribus,
                    explicabo consequatur optio hic atque delectus odio saepe!
                </p>
            </div>
            <div class="read-button1">
                <a href="#" class="readMore1"><span>Read More</span><i class="fa-solid fa-angle-right"
                        style="color: #ffffff;"></i></a>
            </div>
        </div>
    </div>
    <div class="sec-about">
        <div class="section">
            <h2 class="aboutus">About Our Clinic</h2>
            <div class="line">

            </div>
            <div class="para1">
                <p class="para-about">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos, exercitationem,
                    ipsum obcaecati aut eum rerum cumque recusandae iure animi qui sapiente hic, quis ut quos ratione.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, sed.
                    

                </p>
            </div>
            <div class="para2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Rerum perspiciatis incidunt hic dignissimos pariatur aperiam in ut iure ad voluptatum.
                    Beatae architecto accusantium reprehenderit recusandae alias similique?</p>
            </div>
            <div class="read">
                <div class="read-button">
                    <a href="#" class="readMore"><span>Read More</span><i class="fa-solid fa-angle-right"
                            style="color: #ffffff;"></i></a>
                </div>
            </div>

        </div>

        <div class="emergency-tab">
            <div class="first-tab">
                <div class="emergency">
                    <h3>Emergency Cases</h3>
                </div>
                <div class="e-number">
                    <i class="fa-solid fa-phone" style="color: #ffffff;"> <a href="#"><span>+91
                                980-005-3000</span></a></i>
                </div>
                <div class="line2">

                </div>
                <div class="e-info">
                    <p class="information">We provide 24/7 professional
                        service for our patients.
                    </p><br>
                </div>
            </div>
            <div class="second-tab">
                <div class="opening">
                    <p>Opening Hours</p>

                </div>
                <div class="weekdays">
                    <p>Weekdays</p>
                    <p>8:00 am - 8 pm</p>
                </div>
                <div class="line3">

                </div>
                <div class="weekdays2">
                    <p>Saturday</p>
                    <p>8:00 am - 8 pm</p>
                </div>
                <div class="line3"></div>
                <div class="weekdays3">
                    <p>Sunday</p>
                    <p>8:00 am - 8 pm</p>
                </div>
            </div>
        </div>

    </div>

    <!-- third section -->
    <div class="departments">
        <div class="Equip-text">
            <div class="equipment">
                <p>MODERN EQUIPMENTS</p>
            </div>
        </div>

        <div class="depart">
            <p>Departments</p>
        </div>

        <div class="cards-1row">
            <div class="card">
                <div class="card-info">
                    <div class="heart">
                        <img src="/images/icon-01-free-img.png">
                    </div>
                    <div class="cardiology">
                        <p>CARDIOLOGY</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-info">
                    <div class="heart">
                        <img src="/images/icon-02-free-img.png">
                    </div>
                    <div class="cardiology">
                        <p>OPATHALMOLOGY</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-info">
                    <div class="heart">
                        <img src="/images/icon-03-free-img.png">
                    </div>
                    <div class="cardiology">
                        <p>PULMONARY</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-info">
                    <div class="heart">
                        <img src="/images/icon-04-free-img.png">
                    </div>
                    <div class="cardiology">
                        <p>DENTAL</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards-1row">
            <div class="card">
                <div class="card-info">
                    <div class="heart">
                        <img src="/images/icon-05-free-img.png">
                    </div>
                    <div class="cardiology">
                        <p>DIAGNOSTICS</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-info">
                    <div class="heart">
                        <img src="/images/icon-06-free-img.png">
                    </div>
                    <div class="cardiology">
                        <p>FOR DISABLED</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-info">
                    <div class="heart">
                        <img src="/images/icon-07-free-img.png">
                    </div>
                    <div class="cardiology">
                        <p>TRAUMATOLIGY</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-info">
                    <div class="heart">
                        <img src="/images/icon-08-free-img.png">
                    </div>
                    <div class="cardiology">
                        <p>LABORATORY</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 4th section -->
    <div class="testimonials">
       <div class="test-1">
        <div class="test-box">
            <div class="coma">
                <i class="fa-solid fa-star" style="color: #7a96c7;"></i>
            </div>
            <!-- first text -->
            <div class="textbox"><h4 class="test-text">
                THIS IS THE BEST MEDICAL 
                CENTRE...
            </h4></div>
            <!-- second text -->
            <div class="textbox2"><h3 class="test-text">I've Been Coming Here for about 2 years and It Is Simply the Best...</h3></div>
            
            <!-- third text -->
            <div class="dr-name">
                <p class="doctor">Randy Burns</p>
            </div>
            <!-- 4-button -->
            <div class="test-button">
                <div class="button-text">
                    <p class="more">
                        MORE TESTIMONIALS
                    </p>
                </div>
            </div>
        </div>
       </div>
       <div class="test-image">
        <img class="test-dr-image" src="/images/home-img-01.jpg" alt="image" >
       </div>
    </div>

    <!-- 5th section -->
    <div class="doctors-section">
        <div class="doctors-text">
            <div class="text1-doctor">
                <p>CERTIFIED PERSONAL</p>
            </div>
        </div>

        <div class="text2-doctor">
            <p>Our Doctors</p>
        </div>

        <div class="doctors-cards">
            <div class="doctor1">
                <div class="doctor1-card">
                    <img class = "doc1-image" src ="/images/doc-1.jpg">
                    <div class="doctor1-info">
                        <p class="doc-name">DR.VICTOR PATEL</p>
                    </div>
                    <div class="doc-text">
                        <p class="doc-speciality">Cardiologist</p>
                    </div>
                    <div class="division">
                        <span class="line5">

                        </span>
                    </div>
                    <div class="doc-contact">
                        <p class="doc-number">+91 982167122</p>
                    </div>
                </div>
            </div>

            <div class="doctor1">
                <div class="doctor1-card">
                    <img class = "doc1-image" src ="/images/doctor-03.png">
                    <div class="doctor1-info">
                        <p class="doc-name">DR.LUCK KELLER</p>
                    </div>
                    <div class="doc-text">
                        <p class="doc-speciality">Opthalmology</p>
                    </div>
                    <div class="division">
                        <span class="line5">

                        </span>
                    </div>
                    <div class="doc-contact">
                        <p class="doc-number">+91 982167122</p>
                    </div>
                </div>
            </div>

            <div class="doctor1">
                <div class="doctor1-card">
                    <img class = "doc1-image" src ="/images/doctor-05.jpg">
                    <div class="doctor1-info">
                        <p class="doc-name">DR.BELLA JAMES</p>
                    </div>
                    <div class="doc-text">
                        <p class="doc-speciality">Pulmonary</p>
                    </div>
                    <div class="division">
                        <span class="line5">

                        </span>
                    </div>
                    <div class="doc-contact">
                        <p class="doc-number">+91 982167122</p>
                    </div>
                </div>
            </div>

            <div class="doctor1">
                <div class="doctor1-card">
                    <img class = "doc1-image" src ="/images/doctor-07.jpg">
                    <div class="doctor1-info">
                        <p class="doc-name">DR.OLIVIA RAMOS</p>
                    </div>
                    <div class="doc-text">
                        <p class="doc-speciality">Dental</p>
                    </div>
                    <div class="division">
                        <span class="line5">

                        </span>
                    </div>
                    <div class="doc-contact">
                        <p class="doc-number">+91 982167122</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 6th section -->
    <section class="appointment-section">
        <div class="appnmt-box">
            <div class="appnmt-text">
                <div class="a-text1">
                    <p>Perfect Medical service</p>
                </div>
                <div class="a-text2">
                    <h2>Book an Appointment</h2>
                </div>
                <div class="ap-divide"></div>
                <div class="ap-para">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Molestias, eius quo nemo dolor dignissimos aspernatur earum neque eaque aperiam quod.
                    </p>
                </div>
                <div class="ap-button book">
                    <span>BOOK AN APPOINTMENT</span><i class="fa-solid fa-angle-right"
                     style="color: #ffffff;"></i>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- 7section -->
    <footer>
        <div class="footer">
            <div class="footer-info">
                <div class="left">
                    <h2 class="dep">About Us</h2>
                    <p class="foot-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eligendi minima, veritatis nulla quas recusandae, vero cum nisi ipsam sit voluptas neque obcaecati labore corrupti quaerat, sint facere laborum quisquam.
                    Qui, natus? Fugiat esse repellendus in, est corrupti maxime praesentium dolores! Aliquam consectetur, cumque quasi unde ut doloremque voluptates velit magni quod facilis optio aut facere, ea, impedit cum nihil.</p>
                </div>
                <div class="mid">
        
                    <h2 class ="dep">Departments</h2>
                    <ul>
                        <li>Cardiology</li>
                        <li>Opthamology</li>
                        <li>Pulmonary</li>
                        <li>Dental</li>
                        <li>Diagnostics</li>
                        <li>For Disabled</li>
                        <li>cardiology</li>
                    </ul>
                </div>
                <div class="right">
        
                    <h2 class = "dep">Contact Info</h2>
                    <ul>
                        <li class="li"><h5 class="heading">Emergency Cases</h5>
                            1 123 456 7890
                        </li>
        
                        <li class="li"><h5 class="heading">Address</h5>
                            Address:123 Fifth Avenue,New York,NY 10610l,USA
                        </li>
        
                        <li class="li"><h5 class="heading">Phone</h5>
                            +91 4658949489
                        </li>
        
                        <li class="li"><h5 class="heading">Email</h5>
                            xyz@gmail.com
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class = "foot-line"><hr></div>
            <p class="copyright" >MultiMed @2023  ALL Rights Reserved</p>
        </div>
        
        </footer>
    
        <script>
            const button = document.querySelector(".doctor1");
            button.addEventListener("click", () => {
                window.location.href = `http://localhost:3000/our_doctors`
            })
            const button2 = document.querySelector(".bt-dep");
            button2.addEventListener("click", () => {
                window.location.href = `http://localhost:3000/departments`
            })
            const button3 = document.querySelector(".bt-doc");
            button3.addEventListener("click", () => {
                window.location.href = `http://localhost:3000/our_doctors`
            })
            const button4 = document.querySelector(".bt-cont");
            button4.addEventListener("click", () => {
                window.location.href = `http://localhost:3000/contact_us`
            })
            const button5 = document.querySelector(".bt-log");
            button5.addEventListener("click", () => {
                window.location.href = `http://localhost:3000/log_in`
            })
            const button6 = document.querySelector(".book");
            button6.addEventListener("click", () => {
                window.location.href = `http://localhost:3000/appointment`
            })
        </script>
</body>

</html>