<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="shortcut icon" href="/images/icon-logo.png" type="image/x-icon">
</head>
<body>
    <nav>
        
        <div class="logo">

        </div>
        <ul class="navlinks">
            
            <li><a href ="index.html" class="home">Home</a></li>
            <li>Join</li>
        </ul>
    </nav>

    <h3 class="start">START FOR FREE</h3>

    <h1 class="create"> Create new account          
        <div class="bluetwo">
        </div> 
    </h1>
    <h4 class="Already">Already A Member? </h4>
    <a href="#" class="login">Log in</a>
    <div class="menu">
        <input type="text" placeholder="First name" id="Firstname" />
        <input type="text" placeholder="Last name" id="Lastname" />
    </div>
    <input type="password" placeholder="Password" id="password" />
    <input type="text" placeholder="E-mail" id="E-mail" />
    <div class="button">
    <button>Change Method</button>
    <button>Create Account</button>
    </div>
    
</body>
</html>